<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/Html.html to edit this template
-->
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" ng-app="Rockola">
    <head>
        <title>La Rockola</title>
        <meta charset="UTF-8">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel=""stylesheet crossorigin="anonymous"/>        
    </head>
    <body class="bg-light">
        <header>
        </header>
        <main class="row m-3" ng-controller="filasUsuarios">
            <article class="col-sm">
                <section class="m-2 p-3 mx-auto container-md border bg-white">
                    <div class="mb-3">
                        <label for="exampleFormControlinput1" class="form-label">Cedula Usuario</label>
                        <input type="text" class="form-control" id="exampleFormControlinput1" value="" ng-model="Cedula"/>
                        <br/>
                        <button type="button" class="btn btn-danger" ng-click="consultar()">Consulta</button>
                    </div>
                </section><!-- comment -->
                <section class="m-2 p-3 mx-auto container-md border bg-white">
                    <div class="mb-3">
                        <label for="nombre" class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="nombre_usuario" value="{{nombre_usuario}}" ng-model="nombre"/>
                        <label for="apellido" class="form-label">Apellido</label>
                        <input type="text" class="form-control" id="apellido_usuario" value="{{apellido_usuario}}" ng-model="apellido"/>
                        <label for="email" class="form-label">Email</label>
                        <input type="text" class="form-control" id="email" value="{{email}}" ng-model="email"/>
                        <label for="contraseña" class="form-label">Contraseña</label>
                        <input type="text" class="form-control" id="contraseña" value="{{contraseña}}" ng-model="contraseña"/>
                        <label for="rol" class="form-label">Rol</label>
                        <input type="text" class="form-control" id="rol" value="{{rol}}" ng-model="rol"/>
                        <br/>
                        <button type="button" class="btn btn-warning" ng-click="actualizar()">Actualizar</button>
                    </div>
                </section>
            </article>
            <article class="table">
            <section>
                <table class="table">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">nombre_cancion</th><!-- comment -->
                        <th scope="col">artista</th><!-- comment -->
                        <th scope="col">genero</th><!-- comment -->
                        <th scope="col">album</th><!-- comment -->
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="fila in filas">
                        <td>{{fila.id}}</td>
                        <td>{{fila.nombre_cancion}}</td>
                        <td>{{fila.artista}}</td>
                        <td>{{fila.genero}}</td><!-- comment -->
                        <td>{{fila.album}}</td>
                    </tr>                    
                </tbody>       
            </table>  
            </section>
            <section class="m-2 p-3 mx-auto container-md border bg-white">
                <div class="mb-3">
                    <label for="borrar" class="form-label">Borrar</label>
                    <input type="text" class="form-control" id="borrar" value="{{borrar}}" ng-model="borrar"/>
                    </br>
                    <button type="button" class="btn btn-warning" ng-click="borrar()">Eliminar</button>
                </div>
            </section>
            </article>        
        </main>
        <footer>
        </footer>
        <script src="js/angular-bootstrap.js" type="text/javascript"></script>
        <script src="js/cedula.js"></script>               
    </body>
</html>